<app-navbar></app-navbar>

<img src="../../assets/ordesuccess.png" alt="Order Successful">
<div>
    <h3 class="text">
        <div>Hurraay!!! Your order is confirmed.</div>
        <div>The order id is #12234. Save the order id for further communication</div>
    </h3>
    <br/>
    <table border="1">
      <tr>
        <th>Email Us</th>
        <th>Contact Us</th>
        <th>Address</th>
      </tr>
      <tr>
        <td>admin@bookstore.com</td>
        <td>+91- 67367676</td>
        <td>Malhotra Chambers, First Floor, Govandi East, Mumbai, Maharashtra 400088</td>
      </tr>
      </table>
    <button mat-flat-button color="primary" (click)="continueShopping()">Continue shopping</button>
</div>
