    <mat-toolbar class="mat-elevation-z8 toolbar toolbarCSS" fullscreen>
        <img src="../../assets/book.jpg" alt="Image" height="30" width="30" /> &nbsp;
          <span>Book Store</span>
          &nbsp;&nbsp;
          <!-- <form class="example-form form">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Search">
              </mat-form-field>
        </form> -->
          <div class="spacer">
          </div>
          <a href="" style="color: white;">Logout</a>
          <a mat-button>
            <mat-icon aria-hidden="false" aria-label="Example home icon">add_shopping_cart</mat-icon>
            Cart
          </a>
    </mat-toolbar>
