mat-toolbar {
    justify-content: space-between;
}

.content {
    padding: 50px;
}

.content > mat-card {
    margin-bottom: 16px;
}

.addToBag {
    background: #A03037 0% 0% no-repeat padding-box;
    color: white;
    font: normal normal medium 11px/13px Lato;
}

.wishlist {
    border: 1px solid #9D9D9D;
    border-radius: 2px;
}

.books{
    top: 83px;
left: 174px;
width: 68px;
height: 30px;
text-align: left;
font: normal normal normal 25px/30px Lato;
letter-spacing: 0px;
color: #0A0102;
opacity: 1;
}