<div class="content">
<mat-card class="cardCSS">
    <mat-card-content>
      <div class="header">
        <P>Customer Details </P>
      </div>
      <form name="loginForm" [formGroup]="loginForm">
        <div class="example-container">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Name</mat-label>
              <input formControlName="name" matInput required />
          <mat-error *ngIf="!loginForm.controls['name'].valid">
              Name is required
            </mat-error>
          </mat-form-field>
          &nbsp;&nbsp;&nbsp;
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Phone number</mat-label>
              <input formControlName="phoneNumber" matInput required />
          <mat-error *ngIf="!loginForm.controls['phoneNumber'].valid">
              Phone number is required
            </mat-error>
          </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Pincode</mat-label>
              <input formControlName="pincode" matInput required />
          <mat-error *ngIf="!loginForm.controls['pincode'].valid">
              Pincode is required
            </mat-error>
          </mat-form-field>
          &nbsp;&nbsp;&nbsp;
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Locality</mat-label>
              <input formControlName="locality" matInput required />
          <mat-error *ngIf="!loginForm.controls['locality'].valid">
              Locality is required
            </mat-error>
          </mat-form-field>
          </div>
          <div>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Address</mat-label>
              <textarea formControlName="address" matInput required ></textarea>
          <mat-error *ngIf="!loginForm.controls['address'].valid">
              Address is required
            </mat-error>
          </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>City/Town</mat-label>
              <input formControlName="city" matInput required />
          <mat-error *ngIf="!loginForm.controls['city'].valid">
              City/Town is required
            </mat-error>
          </mat-form-field>
          &nbsp;&nbsp;&nbsp;
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>LandMark</mat-label>
              <input formControlName="landmark" matInput required />
          <mat-error *ngIf="!loginForm.controls['landmark'].valid">
              LandMark is required
            </mat-error>
          </mat-form-field>
          </div>
          <label for="gender">Type:</label>
            <div>
              <input id="home" type="radio" value="Home" name="type" formControlName="type">
              <label for="male">Home</label>
              &nbsp;&nbsp;&nbsp;
              <input id="work" type="radio" value="Work" name="type" formControlName="type">
              <label for="female">Work</label>
              &nbsp;&nbsp;&nbsp;
              <input id="other" type="radio" value="Other" name="type" formControlName="type">
              <label for="female">Other</label>
           </div> <br>
        <button mat-flat-button color="primary" (click)="checkout()">Checkout</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>